nav ul li #contact {
  background-color: #c21919;
}

.map {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(133, 90, 74);
  margin-right: 0;
  padding-top: 30px;
}
iframe {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 35px;
}
.first {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #7a1414;
}
.text-container {
  margin-left: -20px;
  margin-right: -20px;
}
.text-container h1 {
  text-shadow: none;
  font-size: 35px;
  text-align: center;
  background-color: orange;
  margin: 0px;
  color: rgb(37, 13, 13);
  margin-top: 20px;
}
.hidden {
    display: none;
  }
.form-row {
    margin-bottom: 10px;
  }
input {
    width: 1000px;
    border: solid black 2px;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    padding: 20px;
    text-shadow: 8px 0px 7px rgba(5, 4, 1, 0.4);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: cursive;
}
input:hover {
    border-color: gold;
}
textarea {
    border: solid black 2px;
    border-radius: 10px;
    width: 1000px; 
    height: 100px;
    font-size: 20px;
    padding: 20px;
    text-shadow: 8px 0px 7px rgba(5, 4, 1, 0.4);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: cursive;
}
textarea:hover {
    border-color: gold;
}   
.submit {
    border: none;
    border-radius: 10px;
    width: 1000px; 
    height: 70px;
    font-size: 20px;
    padding: 20px;
    color: black;
    font-family: cursive;
    font-weight: bolder;
    background-color: orange;
    transition: 300ms;
    margin-bottom: 20px;
}
.submit:hover {
    background-color: #b5b556;
}
.submit:active {
    opacity: 0.7;
} 
.header {
    text-shadow: none;
    font-size: 35px;
    text-align: center;
    background-color: orange;
    margin: 0px;
    color: rgb(37, 13, 13);
    margin-top: 0px;
    font-family: cursive;
}
.content {
  display: flex;
}
.content p {
    margin-top: 50px;
    font-size: 22px;
}